/*=============================================>>>>>
= Grid =
===============================================>>>>>*/
$wrap-width: 1440px;

/*=============================================>>>>>
= Body font colour =
===============================================>>>>>*/
$text-color: #ffffff;

/*=============================================>>>>>
= Brand colours =
===============================================>>>>>*/
$primary: #01a4b7;
$secondary: #2b4b5a;
$tertiary: #9fb3bc;
$highlight: #542537;
$primary-darker: darken($primary, 5%);
$secondary-darker: darken($secondary, 5%);

/*=============================================>>>>>
= Additional =
===============================================>>>>>*/
$border: #D8E5EE;

/*=============================================>>>>>
= Black/white =
===============================================>>>>>*/
$white: #ffffff;
$black: #000000;
$off-white: rgba(#BDC6D1, 0.35);
$off-black: #1E1E1E;
$off-black-lighter: #262626;

/*=============================================>>>>>
= User noticiation colours =
===============================================>>>>>*/
$success: #5cb85c;
$warning: #f0ad4e;
$error: #d9534f;

/*=============================================>>>>>
= Social colours =
===============================================>>>>>*/
$twitter-hex: #00aced;
$facebook-hex: #3b5998;
$linkedin-hex: #007bb6;
$youtube-hex: #bb0000;
$tumblr-hex: #32506d;
$instagram-hex: #517fa4;
$vimeo-hex: #aad450;
$lastfm-hex: #D51007;
$google-hex: #4285f4;
$github-hex: #4078c0;
