form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  label.field {
    display: block;
    margin-bottom: 80px;

    @include media-down(mobile) {
      margin-bottom: 40px;
    }

    &.half-width {
      width: calc(50% - 15px);

      @include media-down(mobile) {
        width: 100%;
      }

      &.half-width-left {
        margin-right: 15px;
        @include media-down(mobile) {
          margin-right: 0;
        }
      }
      &.half-width-right {
        margin-left: 15px;
        @include media-down(mobile) {
          margin-left: 0;
        }
      }
    }

    &.full-width {
      width: 100%;
    }

    span {
      display: block;
      @include p1();
      font-size: 16px;
      line-height: calc(24/16);
      margin-bottom: 12.5px;

      @include media-down(mobile) {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    input, textarea {
      display: block;
      width: 100%;
      @include h3();
      border: none;
      // padding: 20px 15px;
      background-color: transparent;
      box-sizing: border-box;

      &:active, &:focus {
        outline: none;
      }
    }

    input {
      line-height: 1;
    }

    textarea {
      line-height: 1.2em;
      resize: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      border: none;
      -webkit-text-fill-color: $white;
      -webkit-box-shadow: 0 0 0px 1000px transparent inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }


  &.light {
    label.field {
      span {
        font-weight: $font-weight-regular;
        color: $black;
      }

      input, textarea {
        color: $black;

        @include placeholder {
          color: darken($off-white, 30%);
        }
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
        -webkit-text-fill-color: $black;
      }
    }

    .send-button {
      border: 2px solid $black;
      background-color: $white;

      span {
        color: $black;
      }

      .arrow {
        fill: $black;
      }

      &:hover {
        background-color: $black;
        span {
          color: $white;
        }

        .arrow {
          fill: $white;
        }
      }
    }
  }
}
