.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @include media-down(tablet) {
    display: none;
  }

  .nav-container {

    .nav-items {
      display: flex;
      flex-direction: row;

      .nav-item {
        margin-right: 50px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          border-radius: 6px;
          background-color: $white;
          transform: scaleX(0);
          transition: transform 0.3s ease;
        }

        &.active {
          &:after {
            transform: scaleX(1);
          }
        }

        &:hover {
          &:after {
            transform: scaleX(1);
          }
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          display: block;
          padding-bottom: 2.5px;
          text-decoration: none;

          span {
            @include p1();
            transition: color 0.3s ease;
          }
        }
      }
    }
  }
}
