.thank-you-page {
  margin-top: 50px;


  > * {
    margin-bottom: 80px;
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .thank-you-card-face {
    top: 0;
    left: 20px;
    position: absolute;
    width: calc(100% - 40px);
    padding: 15px;
    background-color: $white;
    box-shadow: 0 2px 5px 0 rgba(181,176,161,0.30);
    will-change: transform, opacity;

    @include media-down(mobile) {
      width: calc(100% - 20px);
      left: 10px;
    }

    .inner-container {
      padding: 70px 50px;
      border: 1px solid $black;

      @include media-down(mobile) {
        padding: 80px 20px 60px;
      }
    }

    .headline {
      @include h2();
    }

    .stamp-container {
      position: absolute;
      top: 40px;
    }

    .stamp-container-left {
      left: 35px;
      width: 330px;
      height: 50px;

      @include media-down(tablet) {
        left: 35px;
        width: 220px;
        height: 35px;
      }

      @include media-down(mobile) {
        left: 30px;
        width: 137px;
        height: 20px;
      }
    }

    .stamp-container-right {
      left: auto;
      right: 90px;
      width: 220px;
      height: 35px;

      @include media-down(tablet) {
        right: 30px;
        width: 160px;
        height: 25px;
      }

      @include media-down(mobile) {
        right: 30px;
        width: 110px;
        height: 16px;
      }
    }


    .content-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 550px;

      @include media-down(tablet) {
        min-height: 400px;
      }

      @include media-down(mobile) {
        flex-direction: column;
        align-items: flex-start;
        min-height: 0;
      }

      .col {
        flex: 1;
        display: flex;
        flex-direction: column;

        @include media-down(mobile) {
          flex: auto;
          width: 100%;
        }

        &.col-left {
          padding-right: 100px;

          @include media-down(tablet) {
            padding-right: 30px;
          }

          @include media-down(mobile) {
            padding-right: 0;
            margin-bottom: 30px;
          }
        }

        &.col-right {
          padding-left: 100px;

          @include media-down(tablet) {
            padding-left: 30px;
          }

          @include media-down(mobile) {
            padding-left: 0;
          }
        }

        .headline {
          @include h2();
          margin-bottom: 40px;
        }

        .mixed-navigation-list {
          display: block;
          width: 100%;
          margin-top: 50px;

          @include media-down(mobile) {
            margin-top: 0;
          }
        }
      }
    }

  }
}
